.aside-nav {
  background-color: #ffffff;
  padding: 25px 25px 20px 25px;
  border-radius: 16px;
  height: max-content;
}

.aside-nav__title {
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #9e5fc4;
  margin: 0 0 15px;
}

.aside-nav__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 25px 0;
}

.aside-nav__link {
  display: flex;
  gap: 10px;
}

.aside-nav__link-country {
  font-size: 16px;
  line-height: 20px;
  color: #242424;
}

.aside-nav__link-btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 14px;
  background-color: #9e5fc4;
  border-radius: 60px;
  text-align: center;
}
