.gallery-tour {
  display: grid;
  grid-template-columns: 1fr 215px;
  gap: 20px;
  margin: 0 0 80px;
}
.gallery-tour__list {
  display: grid;
  grid-template-columns: 365px auto 1fr 240px;
  gap: 20px;
  margin: 0 0 20px;
}

.gallery-tour__photo {
  margin: 0;
  padding: 0;
}
.gallery-tour__img {
  border-radius: 8px;
  margin: 0 0 5px;
}

.gallery-tour__description {
  color: rgba(36, 36, 36, 0.5);
  text-align: right;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
}

.aside-nav__title {
  margin: 0;
}

.gallery-tour__item--xl {
  grid-column: span 2;
}

.gallery-tour__item--m {
  grid-column: 3 / 5;
}

.gallery-tour__item--high {
  grid-row: span 2;
}

.gallery-tour__item--xxl {
  grid-column: span 3;
}

.gallery-tour__link {
  color: #9e5fc4;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 14px;
  text-align: center;
  border: 1px solid #9e5fc4;
  border-radius: 60px;
}
